
.dashboard-card
{
    padding:15px;
}

.ingredients-main
{
   /* background-color:grey;*/
    margin-top:10px;
    margin-bottom:20px;
    padding:20px 0px 20px 0px ;

}

.ingredient
{
     background-color: #BBD4DE;
     padding:5px;

     margin:0 0 20px 0;
    border-radius: 8px;

    border: 3px solid #ddd;
}

.ingredient-top
{

}

.recipe-img
{

    width: 100%;
    object-fit: cover;
    max-height: 130px; /* to be changed at a later date! */
   /* background-color: #ff86b1;*/
    border-radius: 10px;

}

.navbar
{
    background-color: #bbded6;

}

.card-header
{
    background-color: #BBD4DE;
    margin: -4px;
}

.btn-primary
{
    background-color:#FFB6B9;
}

h5
{
    color: rgba(0, 0, 0, 0.73);
}

.recipe-text{
    color: rgba(0, 0, 0, 0.73);
    text-decoration: none;

}
