.homepageTags
{
    float:left;
    background-color: #ced4da;
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;
    font-size: 0.7rem;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    color: #495057;
    cursor: pointer;
    transition: all 0.3s
}


