
.dashboard-card
{
    padding:20px;
}

.ingredients-main
{
   /* background-color:grey;*/
    margin-top:20px;
    margin-bottom:20px;
    padding:20px 0px 20px 0px ;

}

.ingredient
{
    /* background-color: #ff86b1;*/
     padding:10px;
     border-color: #0e0b04;
    border-style: double;
    margin:0 0 20px 0;
}

.recipe-img
{
    width: 100%;
    object-fit: cover;


    background-color: #ff86b1;

}



